<div class="container">
  <h1>Hệ thống quản lí học bạ THPT</h1>
  <form
    [formGroup]="signUpForm"
    class="d-flex flex-column gap-5"
    (ngSubmit)="signUp()"
  >
    <span class="p-float-label">
      <input pInputText id="username" formControlName="username" autofocus/>
      <label htmlFor="username">Username</label>
    </span>

    <span class="p-float-label">
      <input pInputText id="fullName" formControlName="fullName" />
      <label htmlFor="fullName">Họ và tên</label>
    </span>

    <p-selectButton
      [options]="jobOptions"
      optionLabel="label"
      formControlName="job"
      optionValue="value"
    ></p-selectButton>

    <span class="p-float-label">
      <p-password
        [feedback]="true"
        [toggleMask]="true"
        formControlName="password"
      ></p-password>
      <label for="password">Mật khẩu</label>
    </span>

    <span class="p-float-label">
      <p-password
        formControlName="repeatPassword"
        [feedback]="true"
        [toggleMask]="true"
      ></p-password>
      <label for="password">Nhập lại mật khẩu</label>
    </span>
    <button type="submit" pButton pRipple>Đăng kí</button>
  </form>
  <button pButton pRipple routerLink="/sign-in" class="p-button-success">
    Back To Sign In
  </button>
</div>
<p-toast></p-toast>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
