<div>
  <div class="img"><img src="../../assets/images/backgrounds/bg-1.jpeg" /></div>
  <div class="container">
    <div class="flex-center wrapper">
      <div class="wrapper-form br-12 px-4 py-5">
        <h1 class="mb-5 text-center wrapper-form-heading">Sign In</h1>
        <form
          [formGroup]="signInForm"
          (ngSubmit)="signIn()"
          class="d-flex flex-column gap-5"
        >
          <span class="p-float-label">
            <input
              pInputText
              id="username"
              formControlName="username"
              autofocus
              class="w-100"
            />
            <label htmlFor="username">Username</label>
          </span>
          <span class="p-float-label">
            <p-password
              [feedback]="false"
              [toggleMask]="true"
              formControlName="password"
              class="w-100"
            ></p-password>
            <label for="password">Password</label>
          </span>
          <button type="submit" class="flex-center fw-bold" pButton pRipple>
            Sign In Now
          </button>
        </form>
        <button
          class="w-100 flex-center mt-4 p-button-success fw-bold"
          pButton
          pRipple
          routerLink="/sign-up"
        >
          <span>Sign Up</span>
        </button>

        <button
          class="w-100 flex-center mt-4 p-button-secondary fw-bold"
          pButton
          pRipple
          routerLink="/guest"
        >
          <span>Guest</span>
        </button>
      </div>
    </div>
  </div>
  <p-toast></p-toast>
  <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
</div>
