<div class="header d-flex align-items-center justify-content-between py-3 px-5">
  <header>
    <nav class="header-navbar d-flex align-items-center">
      <ul class="nav-list m-auto">
        <li>
          <a
            routerLink=""
            routerLinkActive="header-navbar-active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <fa-icon class="" [icon]="faHome"></fa-icon>
            <span class="ms-1">Home</span></a
          >
        </li>
        <li *ngIf="typeSession === 'TEACHER'">
          <a routerLink="/student" routerLinkActive="header-navbar-active">
            <fa-icon class="" [icon]="faListCheck"></fa-icon>
            <span class="ms-1">Student</span></a
          >
        </li>
        <li *ngIf="typeSession === 'TEACHER'">
          <a routerLink="/gading" routerLinkActive="header-navbar-active">
            <fa-icon class="" [icon]="faBookMedical"></fa-icon>
            <span class="ms-1">Gading</span></a
          >
        </li>
        <li>
          <a routerLink="/block/temp" routerLinkActive="header-navbar-active">
            <fa-icon class="" [icon]="faHourglassHalf"></fa-icon>
            <span class="ms-1">Block Temp</span></a
          >
        </li>
      </ul>
    </nav>
  </header>
  <div
    class="header-user d-flex align-items-center justify-content-between gap-3"
  >
    <div class="header-user-name">
      <span class="">
        <strong *ngIf="typeSession === 'TEACHER'">Teacher: </strong>
        <strong *ngIf="typeSession === 'PRINCIPAL'">Principal: </strong>
        {{ usernameSession }}</span
      >
    </div>
    <div class="header-user-avatar br-r">
      <img src="../../assets/images/users/avatar-default.png" alt="" />
    </div>
    <div
      class="header-user-logout br-r bg-secondary flex-center cursor-p hover-1"
      pRipple
      (click)="logOut()"
    >
      <fa-icon class="text-white" [icon]="faRightFromBracket"></fa-icon>
    </div>
  </div>
</div>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
