<app-header></app-header>
<div class="container">
  <table class="styled-table student w-100">
    <thead>
      <tr>
        <th>Number</th>
        <th>Teacher Signature</th>
        <th>Principal Signature</th>
        <th>Data</th>
        <th>Hash Prev Block</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let block of listBlocks">
        <td>{{ block.number }}</td>
        <td>
          <span class="text-overflow">{{ block.signature.teacher }}</span>
        </td>
        <td>
          <span class="text-overflow">{{ block.signature.principal }}</span>
        </td>
        <td>
          <button
            pRipple
            class="btn btn-success text-white student-btn me-2"
            (click)="op.toggle($event)"
          >
            <span class="me-1">Show</span>
            <fa-icon class="" [icon]="faEye"></fa-icon>
          </button>
          <p-overlayPanel #op>
            <div class="d-flex flex-column gap-3">
              <div *ngIf="block.data && !block.data.studentID">
                <strong>Data: </strong>
                <span>{{ block.data }}</span>
              </div>
              <div *ngIf="block.data._id">
                <strong>ID: </strong>
                <span>{{ block.data._id }}</span>
              </div>
              <div *ngIf="block.data.studentID">
                <strong>Student ID: </strong>
                <span>{{ block.data.studentID }}</span>
              </div>
              <div>
                <strong *ngIf="block.data.studentName">Student Name: </strong>
                <span>{{ block.data.studentName }}</span>
              </div>
              <div *ngIf="block.data.math">
                <strong>Math: </strong>
                <span>{{ block.data.math }}</span>
              </div>
              <div *ngIf="block.data.literature">
                <strong>Literature: </strong>
                <span>{{ block.data.literature }}</span>
              </div>
              <div *ngIf="block.data.english">
                <strong>English: </strong>
                <span>{{ block.data.english }}</span>
              </div>
              <div *ngIf="block.data.average">
                <strong>Average: </strong>
                <span>{{ block.data.average }}</span>
              </div>
              <div *ngIf="block.data.images && block.data.images.length > 0">
                <strong>Images: </strong>
                <span class="d-flex gap-2 pt-2">
                  <div
                    class="gading-images br-8"
                    *ngFor="let img of block.data.images"
                  >
                    <p-image
                      [src]="apiImage + img"
                      [preview]="true"
                      alt="Image"
                      width="250"
                    >
                      <ng-template pTemplate="indicator">
                        <i class="pi pi-check"></i>
                      </ng-template>
                    </p-image>
                  </div>
                </span>
              </div>
            </div>
          </p-overlayPanel>
        </td>
        <td>
          <span class="text-overflow">{{ block.hashPrevBlock }}</span>
        </td>
        <td>
          <span>{{ block.createdAt | timeAgo }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
<p-toast></p-toast>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
