<app-header></app-header>
<div class="container">
  <div
    class="student-header d-flex gap-2 align-items-center justify-content-between"
  >
    <h2>List Block Temporary</h2>
    <div>
      <button
        pRipple
        class="btn btn-secondary text-white student-btn me-2"
        (click)="getListBlocksTemp()"
      >
        <span class="me-1">Refresh</span>
        <fa-icon class="" [icon]="faArrowsRotate"></fa-icon>
      </button>
    </div>
  </div>
  <table class="styled-table student w-100">
    <thead>
      <tr>
        <th>Teacher</th>
        <th>Teacher Signature</th>
        <th>Data</th>
        <th>Verify</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let block of listBlocksTemp">
        <td>{{ block.teacherUsername }}</td>
        <td>
          <span class="text-overflow cursor-p" (click)="op2.toggle($event)">{{
            block.signature.teacher
          }}</span>
          <p-overlayPanel
            #op2
            [style]="{ width: '50vw', 'word-wrap': 'break-word' }"
          >
            <strong>{{ block.signature.teacher }}</strong>
          </p-overlayPanel>
        </td>
        <td>
          <button
            pRipple
            class="btn btn-success text-white student-btn me-2"
            (click)="op.toggle($event)"
          >
            <span class="me-1">Show</span>
            <fa-icon class="" [icon]="faEye"></fa-icon>
          </button>
          <p-overlayPanel #op>
            <div class="d-flex flex-column gap-3">
              <div>
                <strong>ID</strong>:
                <span>{{ block.data._id }}</span>
              </div>
              <div>
                <strong>Student ID</strong>:
                <span>{{ block.data.studentID }}</span>
              </div>
              <div>
                <strong>Student Name</strong>:
                <span>{{ block.data.studentName }}</span>
              </div>
              <div>
                <strong>Math</strong>:
                <span>{{ block.data.math }}</span>
              </div>
              <div>
                <strong>Literature</strong>:
                <span>{{ block.data.literature }}</span>
              </div>
              <div>
                <strong>English</strong>:
                <span>{{ block.data.english }}</span>
              </div>
              <div>
                <strong>Average</strong>:
                <span>{{ block.data.average }}</span>
              </div>
              <div>
                <strong>Images</strong>:
                <span class="d-flex gap-2 pt-2">
                  <div
                    class="gading-images br-8"
                    *ngFor="let img of block.data.images"
                  >
                    <img
                      [src]="apiImage + img"
                      alt="Image"
                      width="250"
                      (click)="displayDialogImage(true, apiImage + img)"
                    />
                  </div>
                </span>
              </div>
            </div>
          </p-overlayPanel>
        </td>
        <td>{{ block.data.isVerify ? "Yes" : "No" }}</td>
        <td *ngIf="typeSession === 'TEACHER' || 'ADMIN'">
          <button
            pRipple
            class="btn btn-danger text-white student-btn me-2"
            (click)="deleteBlockTemp(block._id)"
            [disabled]="userSessionUsername !== block.teacherUsername && typeSession != 'ADMIN'"
          >
            <span class="me-1">Delete</span>
            <fa-icon class="" [icon]="faTrash"></fa-icon>
          </button>
        </td>

        <td *ngIf="typeSession === 'PRINCIPAL'">
          <button
            pRipple
            *ngIf="typeSession === 'PRINCIPAL'"
            class="btn btn-primary text-white student-btn me-2"
            (click)="
              displayDialogCheckStudent(true, block.data.studentID);
              getGadingCurrtent(block.data)
            "
          >
            <span class="me-1">Check</span>
            <fa-icon class="" [icon]="faMagnifyingGlass"></fa-icon>
          </button>
          <button
            pRipple
            class="btn btn-warning text-white student-btn"
            [disabled]="gadingCheck && checkGading()"
            (click)="createBlock(block._id)"
          >
            <span class="me-1">Sign</span>
            <fa-icon class="" [icon]="faFileSignature"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
<p-toast></p-toast>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<p-dialog
  [(visible)]="isShowImage"
  [style]="{ width: '90vw', height: '92vh' }"
  [modal]="true"
>
  <div class="img-show"><img [src]="imgSrc" alt="" /></div>
</p-dialog>

<p-dialog
  [(visible)]="isCheckStudent"
  [style]="{ width: '50vw' }"
  [modal]="true"
  [header]="headerCheckGading"
>
  <div class="d-flex gap-3 justify-content-around">
    <div class="d-flex flex-column gap-4">
      <h2>Current Gading</h2>
      <div class="check-item">
        <span>Full Name: </span>
        <strong *ngIf="gadingCurrent && gadingCurrent.studentName">{{
          gadingCurrent.studentName
        }}</strong>
      </div>
      <div class="check-item">
        <span>Math: </span>
        <strong *ngIf="gadingCurrent && gadingCurrent.math">{{
          gadingCurrent.math
        }}</strong>
      </div>
      <div class="check-item">
        <span>Literature: </span>
        <strong *ngIf="gadingCurrent && gadingCurrent.literature">{{
          gadingCurrent.literature
        }}</strong>
      </div>
      <div class="check-item">
        <span>English: </span>
        <strong *ngIf="gadingCurrent && gadingCurrent.english">{{
          gadingCurrent.english
        }}</strong>
      </div>
      <div class="check-item">
        <span>Average: </span>
        <strong *ngIf="gadingCurrent && gadingCurrent.average">{{
          gadingCurrent.average
        }}</strong>
      </div>
    </div>

    <div class="d-flex flex-column gap-4">
      <h2>Find Gading</h2>
      <div class="check-item">
        <span>Full Name: </span>
        <strong *ngIf="gadingCheck && gadingCheck.studentName">{{
          gadingCheck.studentName
        }}</strong>
      </div>
      <div class="check-item">
        <span>Math: </span>
        <strong *ngIf="gadingCheck && gadingCheck.math">{{
          gadingCheck.math
        }}</strong>
      </div>
      <div class="check-item">
        <span>Literature: </span>
        <strong *ngIf="gadingCheck && gadingCheck.literature">{{
          gadingCheck.literature
        }}</strong>
      </div>
      <div class="check-item">
        <span>English: </span>
        <strong *ngIf="gadingCheck && gadingCheck.english">{{
          gadingCheck.english
        }}</strong>
      </div>
      <div class="check-item">
        <span>Average: </span>
        <strong *ngIf="gadingCheck && gadingCheck.average">{{
          gadingCheck.average
        }}</strong>
      </div>
    </div>
  </div>
  <div class="flex-center mt-4">
    <button
      pButton
      pRipple
      *ngIf="gadingCheck && checkGading()"
      label="Match"
      icon="pi pi-check"
      iconPos="right"
      class="p-button-success"
    ></button>
    <button
      pButton
      pRipple
      *ngIf="gadingCheck && !checkGading()"
      label="Not Match"
      icon="pi pi-times"
      iconPos="right"
      class="p-button-danger"
    ></button>
  </div>
</p-dialog>
